<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    [cite_start]<string>$(DEVELOPMENT_LANGUAGE)</string> [cite: 1]
    <key>CFBundleDisplayName</key>
    [cite_start]<string>نور الإيمان</string> [cite: 1]
    <key>CFBundleExecutable</key>
    [cite_start]<string>$(EXECUTABLE_NAME)</string> [cite: 1]
    <key>CFBundleIdentifier</key>
    [cite_start]<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string> [cite: 1]
    <key>CFBundleInfoDictionaryVersion</key>
    [cite_start]<string>6.0</string> [cite: 1]
    <key>CFBundleName</key>
    [cite_start]<string>project1</string> [cite: 1]
    <key>CFBundlePackageType</key>
    [cite_start]<string>APPL</string> [cite: 1]
    <key>CFBundleShortVersionString</key>
    [cite_start]<string>$(FLUTTER_BUILD_NAME)</string> [cite: 1]
    <key>CFBundleSignature</key>
    [cite_start]<string>????</string> [cite: 1]
    <key>CFBundleVersion</key>
    [cite_start]<string>$(FLUTTER_BUILD_NUMBER)</string> [cite: 1]
    <key>LSRequiresIPhoneOS</key>
    [cite_start]<true/> [cite: 1]

    <key>UILaunchStoryboardName</key>
    [cite_start]<string>LaunchScreen</string> [cite: 2]
    <key>UIMainStoryboardFile</key>
    [cite_start]<string>Main</string> [cite: 2]

    <key>NSFaceIDUsageDescription</key>
    [cite_start]<string>نحتاج للوصول لبصمة الوجه لتأكيد هوية تسجيل الحضور والانصراف.</string> [cite: 2]

    <key>NSPhotoLibraryUsageDescription</key>
    [cite_start]<string>نحتاج للوصول لمكتبة الصور لرفع صور الواجبات</string> [cite: 2]
    <key>NSCameraUsageDescription</key>
    [cite_start]<string>نحتاج للوصول للكاميرا لتصوير الواجب ورفعه</string> [cite: 2]
    <key>NSMicrophoneUsageDescription</key>
    [cite_start]<string>نحتاج للوصول للميكروفون (في حال تسجيل فيديو للمهمة).</string> [cite: 2]
    <key>NSAppleMusicUsageDescription</key>
    [cite_start]<string>نحتاج للوصول للملفات لاختيار مستندات الواجب</string> [cite: 2]

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>نحتاج للوصول لموقعك لتسجيل الحضور</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>نحتاج للوصول لموقعك لتسجيل الحضور</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>نحتاج للوصول لموقعك لتسجيل الحضور</string>

    <key>LSSupportsOpeningDocumentsInPlace</key>
    [cite_start]<true/> [cite: 3]
    <key>UIFileSharingEnabled</key>
    [cite_start]<true/> [cite: 3]
    <key>FDMaximumConcurrentTasks</key>
    [cite_start]<integer>5</integer> [cite: 3]
    <key>FDAllFilesDownloadedMessage</key>
    [cite_start]<string>تم تحميل جميع الملفات بنجاح</string> [cite: 3]

    <key>LSApplicationQueriesSchemes</key>
    <array>
       [cite_start]<string>http</string> [cite: 3]
       [cite_start]<string>https</string> [cite: 3]
    [cite_start]</array> [cite: 4]

    <key>NSAppTransportSecurity</key>
    <dict>
       <key>NSAllowsArbitraryLoads</key>
       [cite_start]<true/> [cite: 4]
    </dict>

    <key>UISupportedInterfaceOrientations</key>
    <array>
       [cite_start]<string>UIInterfaceOrientationPortrait</string> [cite: 4]
       [cite_start]<string>UIInterfaceOrientationLandscapeLeft</string> [cite: 4]
       [cite_start]<string>UIInterfaceOrientationLandscapeRight</string> [cite: 4]
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
       [cite_start]<string>UIInterfaceOrientationPortrait</string> [cite: 4]
       [cite_start]<string>UIInterfaceOrientationPortraitUpsideDown</string> [cite: 5]
       [cite_start]<string>UIInterfaceOrientationLandscapeLeft</string> [cite: 5]
       [cite_start]<string>UIInterfaceOrientationLandscapeRight</string> [cite: 5]
    [cite_start]</array> [cite: 5]
    <key>CADisableMinimumFrameDurationOnPhone</key>
    [cite_start]<true/> [cite: 5]
    <key>UIApplicationSupportsIndirectInputEvents</key>
    [cite_start]<true/> [cite: 5]
</dict>
</plist>